@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.m_gauche{
    margin-left:5%;
}


.flower{
    font-family: 'Indie Flower', cursive;
    font-size:120%;
    font-style:oblique;
    font-variant:normal;
    font-weight: bold;
    line-height:90%;
    padding-top:2%;
}

.footer{
    background:rgba(0,0,0,0.1);
    padding:1%;
}
